# Исключить файл с переменными окружения
.env_2

# Исключить сохраненные cookies
cookies.pkl

# Исключить виртуальные окружения
venv/
env/

# Исключить файлы и папки, связанные с системой
__pycache__/
*.pyc
*.pyo

# Исключить логи
*.log

# Исключить файлы конфигурации IDE (например, PyCharm)
.idea/
.vscode/

# Исключить пакеты, скачанные через pip
*.egg-info/
dist/
build/
